name: Vaultwarden
version: "1.0.1"
slug: vaultwarden
description: Self-hosted Vaultwarden (Bitwarden compatible server) as HA add-on
url: https://github.com/epistax1s/home-assistant-addons
arch:
  - aarch64
  - amd64
  - armv7
  - armhf
startup: services
boot: auto
host_network: true
map:
  - addon_config:rw
  - ssl:rw
ports: {}
ports_description: {}

options:
  DATA_FOLDER: /config/vaultwarden
  DATABASE_URL: sqlite:///config/vaultwarden/db.sqlite3
  ADMIN_TOKEN: ""
  DOMAIN: "http://192.168.0.134"
  ROCKET_PORT: 80
  WEBSOCKET_ENABLED: true
  SIGNUPS_ALLOWED: false
  INVITATIONS_ALLOWED: true
  EMERGENCY_ACCESS_ALLOWED: true
  SENDS_ALLOWED: true

schema:
  DATA_FOLDER: str?
  DATABASE_URL: str?
  ADMIN_TOKEN: password
  DOMAIN: str
  ROCKET_PORT: port
  WEBSOCKET_ENABLED: bool
  SIGNUPS_ALLOWED: bool
  INVITATIONS_ALLOWED: bool
  EMERGENCY_ACCESS_ALLOWED: bool
  SENDS_ALLOWED: bool

environment:
  DATA_FOLDER: "${DATA_FOLDER}"
  DATABASE_URL: "${DATABASE_URL}"
  ADMIN_TOKEN: "${ADMIN_TOKEN}"
  DOMAIN: "${DOMAIN}"
  ROCKET_PORT: "${ROCKET_PORT}"
  ROCKET_ADDRESS: "0.0.0.0"
  WEBSOCKET_ENABLED: "${WEBSOCKET_ENABLED}"
  SIGNUPS_ALLOWED: "${SIGNUPS_ALLOWED}"
  INVITATIONS_ALLOWED: "${INVITATIONS_ALLOWED}"
  EMERGENCY_ACCESS_ALLOWED: "${EMERGENCY_ACCESS_ALLOWED}"
  SENDS_ALLOWED: "${SENDS_ALLOWED}"
